
.RadioLabel
{
    color: #555;
}
.RadioLabel.Checked
{
    font-weight: bold;
}

#Results
{
    margin-top: 2em;
}

#Results H3
{
    margin-top: 2em;
}

#Results BUTTON
{
    cursor: pointer;
}

.WordTitle
{
    font-size: 18pt;
    line-height: 18pt;
}
.WordTitle A:hover
{
    text-decoration: none;
}

.DefSection
{
    white-space: pre;
}

.WordSection
{
    margin-bottom: 1.5em;
}
.ResultWord
{
    display: inline-block;
    vertical-align: top;
    margin: 0 0.5em 1em 0;
}

.EditSamsadLink
{
    font-size: 10pt;
    font-family: Arial, sans-serif;
}
