
.RadioLabel
{
    color: #555;
}
.RadioLabel.Checked
{
    font-weight: bold;
}

#Results
{
    margin-top: 2em;
}

#Results H3
{
    margin-top: 2em;
}

#Results BUTTON
{
    cursor: pointer;
}

.WordTitle
{
    font-size: 18pt;
    line-height: 18pt;
}
.WordTitle A:hover
{
    text-decoration: none;
}

.DefSection
{
    white-space: pre;
}

.WordDefWrapper
{
    margin-bottom: 1em;
}

.WordAddedWrapper
{
    background-color: rgb(224, 234, 241);
    display: inline-block;
    float: right;
    white-space: pre;
    padding: 0.3em 0.5em;
}

.WordSection
{
    margin-bottom: 1.5em;
}
.ResultWord
{
    display: inline-block;
    vertical-align: top;
    margin: 0 0.5em 1em 0;
}

.EditSamsadLink
{
    font-size: 10pt;
    font-family: Arial, sans-serif;
}

.EditDefLink
{
    color: #555;
    display: inline-block;
    margin-top: 1em;
}

.ToggleEditsBtn
{
    color: #555;
}

.EditsWrapper
{
    display: none;
    padding-left: 2em;
}
