{% extends "base.html" %}

{%block title %}{{word.word}}{% endblock %}

{% block content %}
<p style="font-size: 26pt; margin: 0.1em 0">{{word.word}}</p>

<h3>Definitions:</h3>
{% for definition in word.definitions.all %}
<p>({{definition.get_part_of_speech_display}}) {{definition.english_word}}<br/>
Definition: <span style="white-space: pre-word">{{definition.definition}}</span><br/>
{% if definition.notes %}
Notes: <span style="white-space: pre-word">{{definition.notes}}</span><br/>
{% endif %}
<span style="font-style: italic; font-size: 10pt">Entered by {{definition.added_by}} on {{definition.added_on}}</span>
</p>
{% endfor %}
{% endblock %}
