{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/entry.css"/>
<link rel="stylesheet" type="text/css" href="/static/home.css"/>
<link rel="stylesheet" type="text/css" href="/static/audit_trail.css"/>
<div class="Pane" style="padding: 0.5em">
    <div style="margin-top: 1em">
        <table><tr>
            <td><input type="text" class="Bangla" id="BanglaWord" placeholder="&#x09AC;&#x09BE;&#x09A1;&#x09BC;&#x09BF; or baRi" {% if word %}value="{{word}}"{% endif %}/></td>
            <td><button type="button" id="LookupBtn" class="LookupBtn invBtn invBtnPrimary">Lookup</button></td>
            <td>
            </td>
            <td><img src="/static/throbber_large.gif" id="Throbber" style="display: none"/></td>
        </tr></table>
        <label class="RadioLabel {% if not is_english %}Checked{% endif %}"><input type="radio" name="Language"
            value="Bangla" {% if not is_english %}checked="checked" {% endif %}/> Bangla
            <span>
                <button type="button" id="ShowBanglaChartBtn" class="invBtn">?</button>
                <div style="position: relative; display: inline-block">
                    <div id="BanglaChartPositioner">
                        <div id="BanglaChartWrapper"></div>
                    </div>
                </div>
            </span></label>
        <label class="RadioLabel {% if is_english %}Checked{% endif %}"><input type="radio" name="Language" id="EnglishRadio"
            value="English" {% if is_english %}checked="checked" {% endif %}/> English</label>
    </div>
    <p id="Results" xPartsOfSpeech="{{parts_of_speech}}" xWordData="{{word_data}}"></p>

    <div style="margin-top: 5em">There are currently {{num_words}} words in the dictionary.</div>
    <div class="Links">
        <a href="{% url app.views.home.recent_changes %}">Recent activity</a> |
        <a href="{% url app.views.words.random %}">Random word</a>
    </div>
</div>
<div class="Pane" style="left: 50%; position: fixed">
    <iframe id="SamsadPane" ></iframe>
</div>
<script type="text/javascript">
    var partsOfSpeech = JSON.parse($('#Results').attr('xPartsOfSpeech'));
</script>
<script type="text/javascript" src="/static/history.js"></script>
<script type="text/javascript" src="/static/date.js"></script>
<script type="text/javascript" src="/static/home.js"></script>
<script type="text/javascript" src="/static/audit_trail.js"></script>
{% endblock %}

