{% extends "base.html" %}
{% block title %}Word not found{% endblock %}
{% block content %}
<h2>Word not found</h2>
<p>We're sorry, but we don't have an entry for that word yet. For a modest fee, you are welcome to request a translation below.</p>
<h4>Request addition:</h4>
<form action="{% url app.views.words.request_new_word %}" method="POST" class="ModelForm">{% csrf_token %}
<table>
    <tr>
        <td>Bangla</td>
        <td><input type="text" name="Bangla" class="Bangla" value="{{bangla}}"/></td>
    </tr>
    <tr>
        <td>English</td>
        <td><input type="text" name="English" value="{{english}}"/></td>
    </tr>
</table>
<button type="submit" name="Action" value="RequestAddition">Submit request</button>
</form>
{% endblock %}

